 /* --- Base styles --- */
 html {
     font-size: 1rem;
     /* 1rem = 16px */
 }

 body {
     font-family: sans-serif;
     line-height: 1.6;
     margin: 0;
     background-color: #f9f9f9;
 }

 /* --- Container --- */
 .container {
     max-width: 60rem;
     margin: 0 auto;
     padding: 1rem;
     border: 0.05rem solid #f0f0f0;
     box-shadow: 0.25rem rgba(0, 0, 0, 0.012);
 }

 /* --- Header --- */
 header {
     background-color: #f9f9f9;
     box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.05);
     padding: 1rem;
     margin-bottom: 1rem;
 }

 .branding {
     margin-bottom: 0.5rem;
 }

 nav ul {
     list-style: none;
     padding: 0;
     display: flex;
     gap: 1.12rem;
 }

 nav a {
     text-decoration: none;
     color: #333;
 }

 /* --- Layout: main + sidebar --- */
 .layout {
     display: flex;
     gap: 1rem;
     flex-wrap: wrap;
     /* responsive */
 }

 main {
     flex: 2;
     padding: 1rem;
     min-width: 20rem;
     /* تا وقتی عرض کم شد، زیر هم برن */
     background-color: #f9f9f9;
     box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.05);
 }

 aside {
     flex: 1;
     background-color: #f9f9f9;
     box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.05);
     padding: 1rem;
     min-width: 15rem;
 }

 /* --- Code style --- */
 code {
     background: #eee;
     padding: 2px 6px;
     border-radius: 4px;
     font-family: monospace;
 }

 /* --- Articles --- */
 article {
     border-bottom: 0.1rem solid #ccc;
     margin-bottom: 1rem;
     padding-bottom: 1rem;
 }

 .post-meta {
     font-size: 0.9rem;
     color: #555;
 }

 /* --- Footer --- */
 footer {
     text-align: center;
     background-color: #f9f9f9;
     box-shadow: 0 0.12rem 0.25rem rgba(0, 0, 0, 0.05);
     padding: 0.8rem;
     margin-top: 1rem;
     font-size: 0.9rem;
 }